<h2 class="text-center mt-4">Payment has been Cancelled!</h2>

<div class="d-flex justify-content-center">
  <div class="my-4">
    <img src="https://cdn.dribbble.com/users/2424687/screenshots/6628571/free_cancellation-01_4x.png?compress=1&resize=1000x750&vertical=top" alt="image couldn't loaded!">
  </div>
</div>