<h2 class="text-center mt-4"><%= params[:category] %></h2>

<% if @movies.count == 0 %>
  <h2 class="text-center mt-4 text-danger">Hey, currently there are no movies available in this category!</h2>
<% else %>
  <div class="d-flex justify-content-center p-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @movies.each do |movie| %>
        <div class ="card style="width: 18rem;">
          <div class="col">
              <% if movie.image.attached? %>
                <%= image_tag movie.image, height: "700px", width: "700px", class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title text-center"><%= link_to movie.movie_title, movie_path(movie) %></h5>
              </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<%end%>