<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <img src="https://cdn.dribbble.com/userupload/2972835/file/original-e8bcf8cf6655678892f3812b90ac055e.jpg?compress=1&resize=1200x900&vertical=top" class="img-fluid wh-100" alt="image couldn't loaded!">
    </div>
    <div class="carousel-item text-center">
      <img src="https://cdn.dribbble.com/userupload/2615708/file/original-0d43ccb93f241a5aa3d3f30574aacab5.jpg?compress=1&resize=1200x900&vertical=top" class="img-fluid wh-100" alt="image couldn't loaded!">
    </div>
    <div class="carousel-item text-center">
      <img src="https://cdn.dribbble.com/userupload/447564/file/original-336e8060ff90aa5d648df995acca37c6.jpg?compress=1&resize=1200x900&vertical=top" class="img-fluid wh-100" alt="image couldn't loaded!">
    </div>
    <div class="carousel-item text-center">
      <img src="https://cdn.dribbble.com/userupload/1337648/file/original-1fd6dedac19d389b820f6abed095f25f.jpg?compress=1&resize=1200x900&vertical=top" class="img-fluid wh-100" alt="image couldn't loaded!">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
